<div class="footer wrapper2">
    <div class="footer__left">
        <div class="footer__left-text">brede & sheeleen branding, graphics, interaction and more...</div>
        <div class="footer__left-com">© BS agency 2015 - NOW</div>
    </div>
    <div class="footer__right">
        <a href="#">services</a>
        <a href="#">about</a>
        <a href="cases.html">cases</a>
        <a href="#">contact</a>
    </div>
    <div class="footer-com">© BS agency 2015 - NOW</div>
</div>

{{> scripts/scripts}}