<div class="footer-b wrapper2">
    <div class="footer-b__left">
        <div class="footer-b__left-text">brede & sheeleen branding, graphics, interaction and more...</div>
        <div class="footer-b__left-com">© BS agency 2015 - NOW</div>
    </div>
    <div class="footer-b__right">
        <a href="#">services</a>
        <a href="cases.html">about</a>
        <a href="#">cases</a>
        <a href="#">contact</a>
    </div>
    <div class="footer-b-com">© BS agency 2015 - NOW</div>
</div>

{{> scripts/scripts}}