<div class="bsmenu">
    <div class="bsmenu__ov">
        <div class="bsmenu__ov-text">
            BREDE & SHEELEEN BRANDING, GRAPHICS, INTERACTION AND MORE...
        </div>
        <div class="bsmenu__ov-close">
            {{Icon iconName="close"}}
        </div>
        <div class="bsmenu__ov-lang">
            <a href="#">RU</a>
            <a href="#">LV</a>
        </div>
        <div class="bsmenu__ov-cop">
            © BS agency 2015 - 2022
        </div>
    </div>
    <div class="bsmenu__cont">
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>services</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>about</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="cases.html" class="bsmenu__cont-a">
            <div>
                <p>cases</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>contact</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a bsmenu__cont-bot">
            get quote
        </a>
    </div>
</div>